@import "styles/mixins";

.wrapper {
	position: relative;

	padding: 2px 10px;

	border: none;
	background: none;
	box-shadow: none;

	i {
		transition: all 0.5s;
	}

	@include xs {
		padding: 2px 0 2px 5px;
	}

	&.opened {
		i {
			transform: rotate(180deg);
		}

		&:hover {
			@include md-min {
				i {
					transform: rotate(180deg);
				}
			}
		}
	}

	&:hover {
		@include md-min {
			cursor: pointer;

			i {
				transform: rotate(90deg);
			}
		}
	}

	img {
		max-width: 100%;
	}
}

.current {
	display: grid;
	align-items: center;
	grid-template-columns: 24px 20px;
	grid-gap: 10px;
}

.open {
	border: 1px solid var(--c-white);
	border-radius: 5px;
	background: var(--c-dark);
}

.list {
	position: absolute;
	top: 100%;
	left: 0;

	margin: 0;
	margin-top: 5px;
	padding: 10px 10px;

	list-style: none;

	text-align: left;

	&:hover {
		@include md-min {
			cursor: pointer;
		}
	}

	img {
		max-width: 30px;
	}
}
