@import "styles/mixins";

.header {
	position: relative;
	z-index: 6;

	display: grid;

	margin: 0 auto;
	padding: 10px 10px;
	grid-template-columns: 190px 1fr auto;
	grid-gap: 25px;
	grid-template-areas: "logo catalog menu";

	@include md {
		//width: 100vw !important;
		//margin: 0;
		grid-template-columns: 138px 1fr auto;
	}

	@include xs {
		//width: 100vw !important;
		//margin: 0;
		grid-gap: 15px;
	}
}

.logo {
	grid-area: logo;

	align-self: center;
	max-width: 189px;
	display: grid;
	align-items: center;
	grid-gap: 8px;
	grid-template-columns: 54px calc(189px - 54px - 8px);
	@include xs {

		grid-template-columns: 54px;
	}
	&>div {
		@include xs {
			&:last-child{
				display: none !important;
			}

			img {
			display: block;
			max-width: 100%;	}
		}
	}
	span {
		display: none;
	}

	img {
		display: block;

		max-width: 100%;
	}
}

.catalog {
	display: grid;
	align-self: center;

	font-weight: bold;
	grid-area: catalog;
	grid-template-columns: 25px 1fr;
	grid-gap: 10px;

	button {
		align-self: center;

		width: 25px;
		height: 20px;

		i {
			width: 100%;
		}
	}

	span {
		align-self: center;
	}
}

.menu {
	grid-area: menu;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, auto);
	grid-gap: 10px;

}
.login {
	padding: 0 10px;
}
