.wr {
  padding-top: 250px;
  font-weight: normal;
  margin-bottom: 100px;
}

.title {
  font-size: 69px;
  padding-bottom: 45px;
  position: relative;
  font-weight: normal;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: auto 200px;
  margin: 0;
  &:after {
    position: absolute;
    content: '';
    background: var(--c-blue);
    height: 3px;
    width: 225px;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}


.lineOrange {
  &:after {
    background: var(--c-orange);
  }
}

.lineGreen {
  &:after {
    background: var(--c-green);
  }
}

.paddingSmall {
  padding-top: 80px;
}

.paddingBig {
  padding-top: 270px;
}

.text {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-weight: bold;
  font-size: 16px;
}
