.settingsSection {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  .mainSection {
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .radioSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .typesSection {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }

  .divider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
