@import "src/styles/mixins";

.head {
  display: grid;
  padding: 20px 30px;
  grid-template-columns:  200px 230px repeat(3, calc((100% - 430px) / 6)) 180px 1fr;
  grid-gap: 10px;

  @include xl {
    display: none;
  }
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: var(--c-white);
  text-align: center;

  &:first-child {
    text-align: left;
    @include lg {
      text-align: center;
    }
  }
}


