@import "./../../../styles/mixins";

.wrapper {
	padding: 150px 0;

	@include xl {
		padding-bottom: 90px;
	}

	@include md {
		padding-top: 90px;
		padding-bottom: 50px;
	}
}

.body {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;

	align-items: start;

	@include md {
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
}

.list {
	display: grid;
	grid-template-columns: 1fr;
	&>div:not(:last-child) {
		margin-bottom: 31px;
		@include md {
			margin-bottom: 20px;
		}
	}
}

.listItem {
	padding: 17px 20px 17px 15px;
	//width: 48%;
	background: var(--c-dark-grey);
	box-shadow: 0 3px 6px #00000029;

}

.listHeading {

}

.listButton {
	display: grid;
	align-items: center;

	font-size: 19px;
	grid-gap: 20px;
	grid-template-columns: 1fr 20px;

	@include lg-min {
		&:hover {
			cursor: pointer;
		}
	}

	&[aria-expanded="true"] {
		.plus {
			transform: rotate(-45deg);
		}
	}
}

.plus {
	position: relative;

	display: block;

	width: 20px;
	height: 20px;

	transition: all 0.35s;

	&::before,
	&::after {
		position: absolute;

		content: '';

		background: var(--c-blue);
	}

	&::before {
		top: 50%;
		left: 0;

		width: 100%;
		height: 2px;

		transform: translateY(-50%);
	}

	&::after {
		top: 0;
		left: 50%;

		width: 2px;
		height: 100%;

		transform: translateX(-50%);
	}
}

.listBody {
	position: relative;

	margin-top: 33px;
	padding: 0 10px 0 25px;

	animation: fadein 0.35s ease-in;

	line-height: 1.4;

	&::before {
		position: absolute;
		top: 0;
		left: 5px;

		width: 3px;
		height: 100%;

		content: '';

		background: var(--c-blue);
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
