@import './../../../styles/mixins';

.wr {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;

	display: grid;
	//opacity: 0;
	visibility: hidden;
	align-items: center;

	width: 100%;
	height: 100%;
	padding: 55px 10px 10px 10px;

	background: var(--c-light-dark);
}

.body {
	position: relative;
	z-index: 2;

	display: grid;
	align-items: center;

	box-sizing: border-box;
	margin: 0 auto;
	grid-template-columns: 1fr auto;

	@include xs {
		text-align: center;
		grid-template-columns: 1fr;
		grid-gap: 35px;
	}
}

.show {
	//opacity: 1;
	visibility: visible;
}

.nav {

}

.list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.item {

}

.link {
	text-transform: capitalize;

	font-size: 70px;
	font-weight: bold;

	@include xl {
		font-size: 45px;
	}

	@include lg {
		font-size: 30px;
	}
}

.activeLink {
	color: var(--c-orange);
}

.address {
	display: grid;
	align-items: center;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr;

	@include xl {
		grid-template-columns: 1fr;
	}

	@include xs {
		grid-template-columns: 1fr 1fr;
	}

	ul {
		margin: 0;
		padding: 0;

		list-style: none;

		li,
		a {
			color: var(--c-white);

			font-size: 27px;
			font-weight: normal;

			@include lg {
				font-size: 17px;
			}

			@include xs {
				font-size: 14px;
			}
		}
	}
}

.emailList {

}

.phoneList {

}
