@import "src/styles/mixins";

.header {
  padding: 10px 10px;
  position: relative;
  margin: 0 auto;
  z-index: 6;
  display: grid;
  grid-template-columns: 190px 1fr auto;
  grid-gap: 25px;
  grid-template-areas: "logo catalog menu";
  @include md {
    //width: 100vw !important;
    //margin: 0;
    grid-template-columns: 138px 1fr auto;
  }
  @include xs {
    //width: 100vw !important;
    //margin: 0;
    grid-gap: 15px;
  }
}

.logo {
  grid-area: logo;
  align-self: center;
  max-width: 189px;
  display: grid;
  align-items: center;
  grid-gap: 8px;
  grid-template-columns: 54px calc(189px - 54px - 8px);
  @include xs {

    grid-template-columns: 54px;
  }
  img {
    display: block;
    max-width: 100%;
    @include xs {
      &:last-child{
        display: none;
      }
    }
  }
}

.catalog {
  grid-area: catalog;
  align-self: center;
  display: grid;
  grid-template-columns: 25px 1fr;
  grid-gap: 10px;
  font-weight: bold;

  button {
    height: 20px;
    width: 25px;
    align-self: center;

    i {
      width: 100%;
    }
  }

  span {
    align-self: center;
  }
}

.menu {
  grid-area: menu;
  align-self: center;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: center;
  @include xs {
    grid-gap: 5px;
  }
}
