@import "styles/mixins";

.btn {
	display: inline-grid;
	align-items: center;
	justify-content: center;

	min-width: 170px;
	max-width: 100%;
	height: 40px;
	padding-right: 25px;
	padding-left: 25px;

	text-align: center;

	color: var(--c-white);
	border: none;
	border-radius: 50px;
	background: var(--grad-blue);
	box-shadow: none;

	&:disabled {
		color: var(--c-white);
		background: linear-gradient(var(--c-dark), var(--c-dark-grey));
	}
	@include sm {
		width: 100%;
	}
}

.green {
	background: var(--grad-green);

	&:disabled {
		color: var(--c-white);
		background: linear-gradient(var(--c-dark), var(--c-dark-grey));
	}
}

.red {
	background: var(--grad-red);

	&:disabled {
		color: var(--c-white);
		background: linear-gradient(var(--c-dark), var(--c-dark-grey));
	}
}

.orange {
	background: var(--grad-orange);

	&:disabled {
		color: var(--c-white);
		background: linear-gradient(var(--c-dark), var(--c-dark-grey));
	}
}
