@import "src/styles/mixins";

.typeWrapper {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}
.content {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 30px;
  align-items: start;
  @include lg {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  @include md {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

.sidebar,
.body {
  background: var(--c-dark-grey);
  padding: 40px 25px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px #00000029;
  @include lg {
    padding: 30px 15px;
  }
}
.box {
  margin-bottom: 20px;
}
.boxHalfColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
  @include lg() {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
  & > * {
    @include lg() {
      margin-bottom: 20px;
    }
  }
}
.title {
  padding-top: 60px;
  font-size: 23px;
  color: var(--c-white);
  font-weight: bold;
  margin-bottom: 10px;
}

.button {
  margin: auto;
  margin-top: 40px;
  @include lg() {
    display: none !important;
  }
}
.buttonS {
  margin: auto;
  margin-top: 50px;
}

.order {
  display: grid;
  grid-template-columns: 92px 1fr;
  grid-gap: 25px;
  margin-bottom: 50px;
  img {
    width: 92px;
  }
}

.t {
  margin-bottom: 40px;
}

.orderInfo {
}
.orderTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}
.orderPrice {
  font-size: 15px;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 30px;
  span:first-child {
    font-weight: bold;
  }
  span:last-child {
  }
}
.orderCount {
  font-size: 15px;
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 30px;
  margin-bottom: 0;
  span:first-child {
    font-weight: bold;
  }
  span:last-child {
  }
}

.input {
  padding: 0 !important;
}

.price {
  padding: 50px 15px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--c-grey);
  border-bottom: 1px solid var(--c-grey);
  span:first-child {
    font-weight: bold;
    font-size: 20px;
  }
  span:last-child {
    text-align: right;
    font-weight: bold;
    font-size: 31px;
  }
}

.image {
  background-color: gray;
}
