@import "src/styles/mixins";

.btn {
  min-width: 170px;
  text-align: center;
  color: var(--c-white);
  box-shadow: none;
  border: none;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 100%;
  border-radius: 50px;
  padding-left: 25px;
  padding-right: 25px;
  background: linear-gradient(to right,
      var(--c-violet) 25%,
      var(--c-blue) 50%,
      var(--c-yellow) 50%,
      var(--c-orange) 100%);
  background-size: 200% 200%;
  background-position: 0% 50%;
  transition: all .4s;
  @include sm {
    width: 100%;
  }
  @include md-min{
    &:hover{
      background-position: 100% 50%;
      transform: scale(1.05);
    }
    &:disabled {
      &:hover {
        cursor: not-allowed;
        background-position: 0 50%;
        transform: scale(1);
      }
    }
  }
  &:disabled {
    color: var(--c-white);
    background: linear-gradient(var(--c-dark), var(--c-dark-grey));
  }
}

.green {
  background: linear-gradient(to right,
      var(--c-dark-green) 25%,
      var(--c-green) 50%,
      var(--c-violet) 50%,
      var(--c-blue) 100%);
  background-size: 200% 200%;
  background-position: 0% 50%;
}
.red {
  background: var(--grad-red);
  background: linear-gradient(to right,
      var(--c-dark-red) 25%,
      var(--c-red) 50%,
      var(--c-violet) 50%,
      var(--c-blue) 100%);
  background-size: 200% 200%;
  background-position: 0% 50%;
}
.orange {
  background: linear-gradient(to right,
      var(--c-yellow) 25%,
      var(--c-orange) 50%,
      var(--c-dark-green) 50%,
      var(--c-green) 100%);
  background-size: 200% 200%;
  background-position: 0% 50%;
}
