@import "src/styles/mixins";

.wrapper {
  position: relative;
  min-height: 768px;
  display: grid;
  align-items: center;
  @include lg {
    min-height: unset;
    padding: 100px 0;
  }
  @include md {
    padding-top: 0;
  }
  @include xs {
    .container {
      overflow: hidden;
    }
  }
}

.img {
  position: absolute;
  left: calc(62% + 1vw);
  top: -370px;
  width: 430px;
  height: 972px;
  border-radius: 220px;
  transform: rotate(24deg);
  transition: all .4s;
  background: linear-gradient(to right,
      var(--c-violet),
      var(--c-blue) 30%,
      var(--c-dark-green),
      var(--c-green) 60%,
      var(--c-yellow),
      var(--c-orange) 100%);
  background-size: 400% 400%;
  @include xl {
    width: 360px;
    left: calc(58% + 1vw);
  }
  @include lg {
    width: 330px;
    left: calc(56% + 1vw);
    top: -448px;
  }
  @include md {
    top: -560px;
    width: 340px;
  }
  @include sm {
    height: 600px;
    top: unset;
    bottom: 50%;
    width: 50vw;
  }
}

.body {
}

.slide {
  position: relative;
  display: grid;
  grid-template-columns: 535px 1fr;
  grid-gap: 30px;
  @include xl {
    grid-template-columns: 1fr 60%;
  }
  @include md {
    grid-template-columns: 1fr;
  }

  &Body {
    height: 100%;
    text-align: left;
    @include md {
      grid-row: 2/3;
    }

    &Title {
      font-size: 86px;
      position: relative;
      padding: 55px 0;
      @include xl {
        font-size: 66px;
      }
      @include lg {
        font-size: 50px;
        padding: 35px 0;
      }
      @include md {
        font-size: 41px;
        text-align: center;
      }
      @include md {
        padding-bottom: 0;
      }

      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 225px;
        height: 3px;
        background: var(--c-blue);
        content: '';
        @include md {
          display: none;
        }
      }
    }

    &Text {
      font-size: 19px;
      font-weight: 400;
      padding-top: 56px;
      line-height: 40px;
      @include lg {
        line-height: 30px;
        padding-top: 35px;
      }
      @include md {
        display: none;
      }
    }
  }

  &Img {
    display: grid;
    justify-content: end;
    @include md {
      grid-row: 1/2;
      margin-bottom: -90px;
    }

    img {
      max-width: 589px;
    }
  }

}

.arrow {
  display: none;
  position: absolute;
  bottom: 0px;
  background: none;
  box-shadow: none;
  border: none;
  outline: none;
  z-index: 2;
  opacity: 1;
  transition: all .5s;
  @include md {
    display: block;
  }
}

.fade {
  opacity: 0;
}

.arrowPrev {
  left: 20px;
  transform: rotate(180deg);
}

.arrowNext {
  right: 20px;
}
