@import "src/styles/mixins";


.typeWrapper {
  &:not(:last-child) {
    margin-bottom: 80px;
  }
}

.item {
  display: grid;
  grid-template-columns: 200px 1fr 280px;
  grid-gap: 20px;
  align-items: center;
  background: var(--c-darker);
  box-sizing: border-box;
  padding: 35px 35px;
  @include lg {
    grid-template-columns: 200px 1fr;
  }

  @include sm {
    grid-template-columns: 1fr;
  }

  &:nth-of-type(odd) {
    background: var(--c-dark-grey);
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.img {
  max-width: 100%;
  @include lg {
    grid-row: 1/3;
  }
  @include sm {
    grid-row: 1/2;
  }
}

.layout {
  @include lg {
    grid-row: 1/2;
  }
  @include sm {
    grid-row: 2/3;
  }
}

.layoutTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;

}

.layoutPrice {
  margin-bottom: 30px;

  & > div {
    font-size: 15px;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 30px;

    span:first-child {
      font-weight: bold;
      margin-bottom: 8px;
    }

    span:last-child {
    }
  }
}

.layoutStatus {
  font-size: 20px;

  @include sm {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
  }

  span {
    @include md {
      display: block;
    }
    @include sm {
      display: inline-block;
    }
  }

  span:first-child {
    font-weight: bold;
    margin-right: 10px;
  }

  span:last-child {
  }
}

.other {
  @include lg {
    grid-row: 2/3;
  }

  @include sm {
    grid-row: 3/4;
  }
}

.otherTitle {
  font-weight: bold;
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 30px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
  @include md {
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
  @include sm {
    grid-template-columns: 1fr 100px;
    grid-gap: 10px;
  }

  span:last-child {
    text-align: right;
    @include md {
      text-align: left;
    }
    @include sm {
      text-align: right;
    }
  }
}


.modalBody {

}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;

  @include lg {
    grid-template-columns: 1fr;
    grid-gap: 5px;
    &:before{
      display: none;
    }
  }
  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: var(--c-blue);
  }
  li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    @include lg {
      border-bottom: 1px solid var(--c-blue);
      padding-bottom: 2px;
    }
    span:last-child{
      text-align: right;
    }
  }
}
