@import './../../../styles/mixins';

.wr {
  background: var(--c-light-dark);
  //opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  z-index: 5;
}


.body {
  width: 1386px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  @include sm {
    max-width: 540px
  }
  @include md {
    max-width: 720px
  }
  @include lg {
    max-width: 960px
  }
  @include xl {
    max-width: 1140px
  }
}

.show {
  //opacity: 1;
  visibility: visible;
}

.nav {

}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {

}

.link {
  font-weight: bold;
  font-size: 70px;
  text-transform: capitalize;
}

.activeLink {
  color: var(--c-orange);
}

.address {
  align-items: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li, a {
      font-weight: normal;
      font-size: 27px;
      color: var(--c-white)
    }
  }
}

.emailList {

}

.phoneList {

}
