@import "./../../../../styles/mixins";

.warpper {
  padding: 150px 0;
}

.body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: start;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
}

.listItem {
  //width: 48%;
  background: var(--c-dark-grey);
  padding: 17px 20px 17px 15px;
  box-shadow: 0px 3px 6px #00000029;

  &:not(:last-child) {
    margin-bottom: 31px;
  }
}

.listHeading {

}

.listButton {
  display: grid;
  align-items: center;
  font-size: 19px;
  grid-gap: 20px;
  grid-template-columns: 1fr 20px;
  @include lg-min {
    &:hover {
      cursor: pointer;
    }
  }

  &[aria-expanded="true"] {
    .plus {
      transform: rotate(-45deg);
    }
  }
}

.plus {
  transition: all 0.35s;
  display: block;
  width: 20px;
  height: 20px;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    content: '';
    background: var(--c-blue);
  }

  &:before {
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    height: 100%;
    width: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.listBody {
  margin-top: 33px;
  padding: 0 10px 0 25px;
  position: relative;
  animation: fadein 0.35s ease-in;
  line-height: 1.4;

  &:before {
    position: absolute;
    left: 5px;
    top: 0;
    content: '';
    background: var(--c-blue);
    width: 3px;
    height: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
