@import "mixins";

.btn {
  width: 170px;
  background: var(--grad-blue);
  text-align: center;
  color: var(--c-white);
  box-shadow: none;
  border: none;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  height: 40px;
  max-width: 100%;
  border-radius: 50px;
  @include sm {
    width: 100%;
  }
  &-icon {
    max-width: unset;
    width: 40px;
    background: none;
  }

  &:hover {
    color: black;
  }
  @include xs{
    width: 100%;
  }
}

.second {
  background: var(--grad-orange);

  &:hover {
    color: black;
    background: var(--grad-black);
    background-color: green;
  }
}

.container {
  padding: 0 10px;
  width: 100%;
  max-width: 1399px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  @include xxl {
    max-width: 1199px;
  }
  @include xl {
    max-width: 991px;
  }
  @include lg {
    max-width: 767px;
  }
  @include md {
    max-width: 575px;
  }
  @include sm {
    max-width: 100vw;
    width: 100vw;
  }
}

.grid {
  width: 100%;
  max-width: 1399px;
  box-sizing: border-box;
  @include xxl {
    max-width: 1199px;
  }
  @include xl {
    max-width: 991px;
  }
  @include lg {
    max-width: 767px;
  }
  @include md {
    max-width: 575px;
  }
  @include sm {
    max-width: 100%;
  }
}

.container .carousel .control-dots {
  margin: 0;
  bottom: 10px;
  .dot {
    width: 11px;
    height: 11px;
  }
}

.carousel.carousel-slider {
  padding-bottom: 50px;
}
