.wrapper {

}

.title {
  span {
    font-size: 69px;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 35px;
}

.body {
  display: grid;
  grid-template-columns: auto 350px;
  grid-gap: 115px;
  align-items: center;
}

.list {
  list-style: none;
  position: relative;
  &:before{
    position: absolute;
    content: '';
    width: 7px;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--grad-blue);
  }
  li:not(:last-child) {
    margin-bottom: 15px;
  }
  a {
    font-size: 23px;
    font-weight: 500;
  }
}

.form {

}

.label {
  display: block;
  margin-bottom: 50px;
  input::placeholder,
  textarea::placeholder{
    color: white;
  }
}
