.footer {
  padding: 100px 10px 15px 10px;
  display: grid;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.top {
  display: grid;
  grid-template-columns: 350px repeat(4, auto);
  grid-gap: 35px;
  margin-bottom: 10px;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

}

.info {

}

.text {
  margin-top: 20px;
}

.phone, .email, .nav {
  display: grid;
  justify-content: end;

  li {
    white-space: nowrap;
    font-size: 20px;
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    justify-content: start;

    img {
      margin-right: 12px;
    }
  }
}

.copyright {
  color: var(--c-grey);
}

.socials {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  a {
    display: inline-block;
  }
  img {
    margin-right: 0;
  }
}

.item {

}

.link {
  font-weight: normal;
  font-size: 17px;
  text-transform: capitalize;
}

.activeLink {
  color: var(--c-orange);
}
