@import "src/styles/mixins";

.item {
  display: grid;
  grid-template-columns: 200px 230px repeat(3, calc((100% - 430px) / 6)) 1fr;
  grid-gap: 10px;
  align-items: center;
  background: var(--c-darker);
  box-sizing: border-box;
  padding: 35px 30px;
  &:nth-of-type(odd) {
    background: var(--c-dark-grey);
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  text-align: center;
  @include lg {
    grid-template-columns: repeat(2, 30%) 40%;
  }
  @include md {
    grid-template-columns: 1fr;
  }
}

.id {
  text-align: left;
  @include lg {
    grid-column: 1/2;
  }
  @include md {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.create {
  @include lg {
    grid-column: 2/3;
    text-align: center;

  }
  @include md {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
  }
}

.fieldName {
  display: none;
  @include md {
    display: block;
    margin-right: 10px;
  }
}

.action {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 170px;
  align-items: center;
  grid-gap: 10px;
  &>div:last-child{
    &>*:not(:first-child){
      margin-top: 5px;
    }
  }
}

.icon {
  width: 42px;
  height: 42px;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--c-green);
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: auto;
}

.progress {
  margin-left: auto;
}
