@import "src/styles/mixins";

.content {
  display: grid;
  grid-template-columns: 370px 1fr;
  grid-gap: 30px;
  @include lg {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px auto;
  width: 134px;
  height: 134px;
  position: relative;
  background: var(--c-white);
  border-radius: 50%;
  img {
    max-width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
}

.plus {
  position: absolute;
  font-size: 22px;
  font-weight: 900;
  color: var(--c-white);
  width: 26px;
  height: 26px;
  bottom: -13px;
  left: calc(50% - 13px);
  background: var(--c-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.sidebar,
.body {
  background: var(--c-dark-grey);
  padding: 40px 25px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px #00000029;
  @include lg {
    padding: 30px 15px;

  }
}

.user {
  display: grid;
  align-items: center;
  justify-content: center;
}


.wrapper {
  padding-bottom: 40px;
}

.title {
  padding-top: 60px;
  font-size: 23px;
  color: var(--c-white);
  font-weight: bold;
  margin-bottom: 50px;
}

.form {
  display: grid;
}

.box {
  margin-bottom: 20px;
}

.button {
  margin: auto;
  margin-top: 40px;
}
