@import "./../../../styles/mixins";

.wrapper {
	padding: 50px 0;

	@include md {
		padding-top: 90px;
	}
}

.title {
	span {
		font-size: 69px;

		@include xl {
			font-size: 50px;
		}

		@include md {
			font-size: 40px;
		}
	}
}

.list {
	display: grid;
	align-items: center;

	margin: 0;
	padding-top: 20px;
	padding-left: 0;

	list-style: none;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;

	@include xl {
		grid-template-columns: repeat(2, 1fr);
	}

	@include lg {
		grid-template-columns: 1fr;
	}

	li {
		//text-align: center;
		margin-bottom: 45px;
		padding: 0 15px;

		@include xl {
			margin-bottom: 25px;
		}

		@include lg {
			margin-bottom: 0;
		}

		p {
			margin: 0;
			padding: 2px 0 2px 15px;

			border-left-width: 6px;
			border-left-style: solid;

			font-size: 22px;
		}
	}
}

.cblue {
	border-left-color: var(--c-blue);
}

.cyellow {
	border-left-color: var(--c-yellow);
}

.cgreen {
	border-left-color: var(--c-green);
}

.cviolet {
	border-left-color: var(--c-violet);
}
